@import "tailwindcss";

@layer base {
  body {
    font-family: "Lato", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Playfair Display", serif;
  }
}

@theme {
  --color-gold: #c9a84c;
  --color-gold-light: #e8d5a3;
  --color-stone: #4a3f35;
  --color-cream: #f7f3ee;
  --color-deep: #1a1410;
}
